<section id="contact" class="h-full pt-24 p-8 bg-[rgb(143,131,115)] text-center flex flex-col justify-center">
    <h2 class="text-3xl font-semibold mb-6 text-[rgb(42,50,46)]">Contacto</h2>
    
    <!-- Mensaje de éxito o error -->
    <p *ngIf="successMessage" class="text-green-600">{{ successMessage }}</p>
    <p *ngIf="errorMessage" class="text-red-600">{{ errorMessage }}</p>

    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="flex flex-col items-center space-y-6 max-w-lg mx-auto bg-[rgb(255, 255, 255)] p-6 rounded-lg shadow-md">
        <div class="w-full">
            <label for="name" class="block text-left mb-2 font-semibold text-[rgb(42,50,46)]">Nombre:</label>
            <input id="name" type="text" formControlName="name" required class="w-full p-3 border border-[rgb(141,128,111)] rounded focus:outline-none focus:ring-2 focus:ring-[rgb(42,50,46)]">
        </div>
        <div class="w-full">
            <label for="phone" class="block text-left mb-2 font-semibold text-[rgb(42,50,46)]">Número de Teléfono:</label>
            <input id="phone" type="tel" formControlName="phone" required class="w-full p-3 border border-[rgb(141,128,111)] rounded focus:outline-none focus:ring-2 focus:ring-[rgb(42,50,46)]">
        </div>
        <div class="w-full">
            <label for="email" class="block text-left mb-2 font-semibold text-[rgb(42,50,46)]">Email:</label>
            <input id="email" type="email" formControlName="email" required class="w-full p-3 border border-[rgb(141,128,111)] rounded focus:outline-none focus:ring-2 focus:ring-[rgb(42,50,46)]">
        </div>
        <div class="w-full">
            <label for="message" class="block text-left mb-2 font-semibold text-[rgb(42,50,46)]">Mensaje:</label>
            <textarea id="message" rows="4" formControlName="message" required class="w-full p-3 border border-[rgb(141,128,111)] rounded focus:outline-none focus:ring-2 focus:ring-[rgb(42,50,46)]"></textarea>
        </div>
        <button type="submit" [disabled]="isSubmitting" class="mt-4 px-6 py-2 bg-[rgb(42,50,46)] text-white rounded-lg hover:bg-[rgb(33,36,39)] transition duration-200">
            {{ isSubmitting ? 'Enviando...' : 'Enviar' }}
        </button>
    </form>
</section>
