<section id="about" class="h-full pt-24 p-16 text-center bg-[rgb(143,131,115)] rounded-lg shadow-md">  
  <h2 class="text-3xl font-bold mb-6 text-black">ACERCA DE MÍ</h2>
  <h4 class="text-2xl font-bold mb-4">Ejecutivo de Ventas</h4>
  <h4 class="text-xl font-semibold mb-4">Luis E. Merino Cortez</h4>
  <p class="mb-4">Ingeniero Naval por la Facultad de Ingeniería Naval de la Universidad Nacional de Ingeniería (UNI)</p>

  <section class="p-6 text-left bg-gray-100 rounded-lg shadow-md mb-6">
    <h3 class="text-2xl font-semibold mb-4">Educación</h3>
    <h4 class="font-semibold">Universidad Nacional de Ingeniería</h4>
    <p>Grado en Ingeniería, INGENIERÍA NAVAL · (1997 - 2005)</p>
  </section>

  <section class="p-6 text-left bg-gray-100 rounded-lg shadow-md mb-6">
    <h3 class="text-2xl font-semibold mb-4">Aptitudes Principales</h3>
    <ul class="list-disc list-inside mb-4 text-left mx-auto max-w-lg">
      <li><strong>🛠 AutoCAD</strong></li>
      <li><strong>⚙️ Ingeniería</strong></li>
      <li><strong>💻 Microsoft Office</strong></li>
      <li><strong>🤝 Negociación</strong></li>
      <li><strong>📊 Planificación estratégica</strong></li>
    </ul>
    
  </section>

  <section class="p-6 text-left bg-gray-100 rounded-lg shadow-md mb-6">
    <h3 class="text-2xl font-semibold mb-4">Certificaciones</h3>
    <ul class="list-disc list-inside mb-4 text-left mx-auto max-w-lg">
      <li><strong>SSPC Level III - Protective Coatings Specialist</strong>  
        <br>Expedición: feb. 2013 · Vencimiento: dic. 2017  
        <br>ID de la credencial: 2013-202-907  
      </li>
      <li><strong>NACE Level I - Coating Inspector</strong>  
        <br>Expedición: jul. 2009 · Vencimiento: jul. 2013  
        <br>ID de la credencial: CIP N° 23942  
      </li>
      <li><strong>Inspector de Soldadura</strong>  
        <br>Expedición: ago. 2005  
        <br>Pontificia Universidad Católica del Perú  
      </li>
    </ul>
  </section>
</section>
