<footer id="footer" class="bg-gray-800 text-white text-center p-4">
  <p class="mb-2">© 2024 Luis Eduardo Merino Cortez. Todos los derechos reservados.</p>
  <div class="flex justify-center space-x-4">
      <a href="https://www.linkedin.com/in/luis-eduardo-merino-cortez-415575b6/" target="_blank" class="transition-transform duration-300 transform hover:scale-110">
        <svg class="w-6 h-6 inline-block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
          <circle cx="4.983" cy="5.009" r="2.188"></circle>
          <path d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"></path>
        </svg>
      </a>
  </div>
</footer>
