body {
    font-family: Arial, sans-serif;
    background-color: #f9fafb; /* Color de fondo */
    margin: 0;
    padding: 0;
  }
  
  main {
    padding: 20px;
  }
  html {
    scroll-behavior: smooth; /* Habilita el desplazamiento suave */
  }
  