<section id="banner" class=" h-screen bg-cover bg-center text-black text-center py-20 flex flex-col md:flex-row items-center justify-center"> <!-- Añadido items-center para centrar verticalmente -->
  <div class="max-w-lg mx-0 md:mx-8 text-center"> <!-- Añadido text-left para alinear el texto a la izquierda -->
      <h1 class="text-4xl md:text-5xl font-bold mb-2">Ing. Luis Merino</h1>
      <p class="text-lg md:text-xl mb-4">Ingeniero Naval</p>
      <button (click)="scrollTo('about')" class="px-6 py-2 bg-[rgb(141,128,111)] text-white rounded hover:bg-[rgb(119,108,93)] transition duration-300">Acerca de mí</button>
  </div>
  <div class="flex justify-center mt-4 md:mt-0 md:ml-4"> <!-- Cambié mt-6 a mt-4 para alinear mejor la imagen -->
      <img src="LuisMerino.png" alt="Luis Eduardo Merino Cortez, Ingeniero Naval" class="w-32 h-32 md:w-40 md:h-40 rounded-full shadow-lg transition-transform duration-300 transform scale-x-[-1] hover:scale-105 hover:shadow-2xl">
  </div>
</section>
