<section id="services" class="pt-24 p-8 text-center bg-[rgb(143,131,115)] rounded-lg shadow-md">
    <h2 class="text-3xl font-extrabold mb-6 text-[rgb(42,50,46)]">Servicios</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <div class="bg-gray-100 p-6 rounded-lg shadow-md flex items-center justify-center">
            <span class="text-lg text-[rgb(42,50,46)] text-center">Consultoría en ingeniería naval y ventas.</span>
        </div>
        <div class="bg-gray-100 p-6 rounded-lg shadow-md flex items-center justify-center">
            <span class="text-lg text-[rgb(42,50,46)] text-center">Evaluación y optimización de proyectos marítimos.</span>
        </div>
        <div class="bg-gray-100 p-6 rounded-lg shadow-md flex items-center justify-center">
            <span class="text-lg text-[rgb(42,50,46)] text-center">Capacitación en técnicas de venta para productos de ingeniería naval.</span>
        </div>
        <div class="bg-gray-100 p-6 rounded-lg shadow-md flex items-center justify-center">
            <span class="text-lg text-[rgb(42,50,46)] text-center">Soporte técnico y mantenimiento de equipos marítimos.</span>
        </div>
    </div>
</section>
